# WARNING: This file is managed by Puppet

## Time limits, hard for interactive jobs.
RemoveInteractiveJobWallTime = ( (InteractiveJob =?= True) && ( RemoteWallClockTime > 1 * 24 * 60 * 60 ) )

SYSTEM_PERIODIC_REMOVE = $(SYSTEM_PERIODIC_REMOVE) || $(RemoveInteractiveJobWallTime)


## Time limits, hard for Jupyter jobs.
RemoveJupyterJobWallTime = ( (JupyterJob =?= True) && ( RemoteWallClockTime > 1 * 24 * 60 * 60 ) )

SYSTEM_PERIODIC_REMOVE = $(SYSTEM_PERIODIC_REMOVE) || $(RemoveJupyterJobWallTime)


## Time limit deduced from user-specified MaxRuntimeHours.
RemoveExceededMaxRuntimeHours = ( (MaxRuntimeHours isnt Undefined) && ( RemoteWallClockTime > (MaxRuntimeHours*60*60) ) )

SYSTEM_PERIODIC_REMOVE = $(SYSTEM_PERIODIC_REMOVE) || $(RemoveExceededMaxRuntimeHours)
