# HTCondor configuration: security

DEFAULT_DOMAIN_NAME = physik.uni-bonn.de
UID_DOMAIN = uni-bonn.de
FILESYSTEM_DOMAIN = cip000.physik.uni-bonn.de

COLLECTOR_HOST = condor-cm1.physik.uni-bonn.de, condor-cm2.physik.uni-bonn.de



# Machines & users
CMS = \
      condor_pool@$(UID_DOMAIN)/condor-cm1.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/condor-cm2.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/condor-cm1.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/condor-cm2.physik.uni-bonn.de
CES = \
      condor_pool@$(UID_DOMAIN)/cip*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/cobald*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/condor-ce*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/exp*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/jhub-dev.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/jhub.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/theo*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/cip*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/cobald*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/condor-ce*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/exp*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/jhub-dev.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/jhub.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/theo*.physik.uni-bonn.de
WNS = \
      condor_pool@$(UID_DOMAIN)/cip*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/exp*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/theo*.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/bafgw.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/gpu*.baf.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/natgw.physik.uni-bonn.de, \
      condor_pool@$(UID_DOMAIN)/wn*.baf.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/cip*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/exp*.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/theo*.physik.uni-bonn.de \
      root@$(UID_DOMAIN)/bafgw.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/gpu*.baf.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/natgw.physik.uni-bonn.de, \
      root@$(UID_DOMAIN)/wn*.baf.physik.uni-bonn.de

USERS = *@$(UID_DOMAIN)

# Clear out any old-style HOSTALLOW settings:
HOSTALLOW_READ =
HOSTALLOW_WRITE =
HOSTALLOW_DAEMON =
HOSTALLOW_NEGOTIATOR =
HOSTALLOW_ADMINISTRATOR =
HOSTALLOW_OWNER =
HOSTALLOW_NEGOTIATOR =
HOSTALLOW_ADMINISTRATOR =
HOSTALLOW_NEGOTIATOR_SCHEDD =

# allow read to anyone, block unwanted with iptables
ALLOW_READ = *
ALLOW_WRITE = $(CMS), $(CES), $(WNS)

#if the CE has a private NIC, it needs to be included here as well
COLLECTOR.ALLOW_ADVERTISE_MASTER = $(CES), $(CMS), $(WNS)
COLLECTOR.ALLOW_ADVERTISE_SCHEDD = $(CES)
COLLECTOR.ALLOW_ADVERTISE_STARTD = $(WNS)

SCHEDD.ALLOW_WRITE = $(USERS), $(CES)

ALLOW_DAEMON = condor@$(UID_DOMAIN), \
               condor@$(UID_DOMAIN)/*.$(UID_DOMAIN), \
               condor_pool@$(UID_DOMAIN), \
               condor_pool@$(UID_DOMAIN)/*.$(UID_DOMAIN), \
               $(FULL_HOSTNAME)
# fix for new security default in HTCondor 8.4.X (fixed in 8.5.1)
ALLOW_DAEMON = $(ALLOW_DAEMON), \
               submit-side@matchsession/*, \
               execute-side@matchsession/*
ALLOW_ADMINISTRATOR = root@$(UID_DOMAIN)/$(IP_ADDRESS), condor_pool@$(UID_DOMAIN)/$(IP_ADDRESS), $(CMS)
ALLOW_CONFIG = root@$(FULL_HOSTNAME)
ALLOW_NEGOTIATOR = $(CMS)
ALLOW_NEGOTIATOR_SCHEDD = $(CMS)

QUEUE_SUPER_USERS = freyermu, wiene

# Don't allow nobody to run jobs
SCHEDD.DENY_WRITE = nobody@$(UID_DOMAIN)
# Authentication
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = KERBEROS,SSL
SEC_CLIENT_AUTHENTICATION_METHODS = KERBEROS,SSL
SEC_READ_AUTHENTICATION_METHODS = KERBEROS,SSL
SCHEDD.SEC_WRITE_AUTHENTICATION_METHODS = KERBEROS,SSL
SCHEDD.SEC_DAEMON_AUTHENTICATION_METHODS = KERBEROS,SSL

CERTIFICATE_MAPFILE = /etc/condor/certificate_mapfile
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = True
KERBEROS_MAP_FILE = /etc/condor/kerberos_mapfile

AUTH_SSL_SERVER_KEYFILE = /etc/condor/ssl/private/cip000.physik.uni-bonn.de.pem
AUTH_SSL_CLIENT_KEYFILE = /etc/condor/ssl/private/cip000.physik.uni-bonn.de.pem
AUTH_SSL_SERVER_CERTFILE = /etc/condor/ssl/certs/cip000.physik.uni-bonn.de.pem
AUTH_SSL_CLIENT_CERTFILE = /etc/condor/ssl/certs/cip000.physik.uni-bonn.de.pem
AUTH_SSL_SERVER_CAFILE = /etc/condor/ssl/certs/ca.pem
AUTH_SSL_CLIENT_CAFILE = /etc/condor/ssl/certs/ca.pem
AUTH_SSL_SERVER_CADIR = 
AUTH_SSL_CLIENT_CADIR = 

# Encryption
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_CRYPTO_METHODS = BLOWFISH

# Integrity
SEC_DEFAULT_INTEGRITY  = REQUIRED
SEC_DAEMON_INTEGRITY = REQUIRED
SEC_NEGOTIATOR_INTEGRITY = REQUIRED
