# WARNING: This file is managed by Puppet

# Not needed anymore as of HTCondor 8.6.11.
# See: https://github.com/htcondor/htcondor/commit/e5b411e9489e3962ad8de3609e83c70b88d0e5c5
#START = (TARGET.InteractiveJob =!= True)

## Machine not used by owner. Set to False explicitly
## since START-expression contains Job Attributes.
IS_OWNER = False

## Partitionable slots
NUM_SLOTS			= 1

SLOT_TYPE_1			= auto
NUM_SLOTS_TYPE_1		= 1
SLOT_TYPE_1_PARTITIONABLE	= TRUE

