# WARNING: This file is managed by Puppet

# 7 is the scheduler universe, we don't apply these rules there.

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) DefinedContainerOS
SUBMIT_REQUIREMENT_DefinedContainerOS = ((TARGET.JobUniverse =?= 7) || (ContainerOS isnt Undefined))
SUBMIT_REQUIREMENT_DefinedContainerOS_REASON = "You must specify +ContainerOS in your submit file, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) ValidContainerOS
SUBMIT_REQUIREMENT_ValidContainerOS = ((TARGET.JobUniverse =?= 7) || ((ContainerOS isnt Undefined) && (StringListMember(ContainerOS,"CentOS7,CentOS7_default,CentOS7_pilot,Rocky8,Rocky8_default,Ubuntu1804,Ubuntu1804_default,Ubuntu2004,Ubuntu2004_default,Debian10,Debian10_default,Debian11,Debian11_default"))))
SUBMIT_REQUIREMENT_ValidContainerOS_REASON = "You must choose a valid +ContainerOS with a value from the list CentOS7, CentOS7_default, CentOS7_pilot, Rocky8, Rocky8_default, Ubuntu1804, Ubuntu1804_default, Ubuntu2004, Ubuntu2004_default, Debian10, Debian10_default, Debian11, Debian11_default, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) DefinedCephFS_IO
SUBMIT_REQUIREMENT_DefinedCephFS_IO = ((TARGET.JobUniverse =?= 7) || ((CephFS_IO =!= Undefined) && (StringListMember(CephFS_IO,"high,medium,low,none"))))
SUBMIT_REQUIREMENT_DefinedCephFS_IO_REASON = "You must specify +CephFS_IO in your submit file with a valid value out of high, medium, low or none, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) DefinedMaxRuntimeHours_Interactive
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Interactive = ((TARGET.JobUniverse =?= 7) || (TARGET.InteractiveJob =!= True) || ((MaxRuntimeHours =!= Undefined) && (MaxRuntimeHours > 0) && (MaxRuntimeHours <= 24)))
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Interactive_REASON = "MaxRuntimeHours for interactive jobs undefined or out of range, must be >0 and <=24 hours, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) DefinedMaxRuntimeHours_Jupyter
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Jupyter = ((TARGET.JobUniverse =?= 7) || (TARGET.JupyterJob =!= True) || ((MaxRuntimeHours =!= Undefined) && (MaxRuntimeHours > 0) && (MaxRuntimeHours <= 24)))
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Jupyter_REASON = "MaxRuntimeHours for Jupyter jobs undefined or out of range, must be >0 and <=24 hours, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) DefinedMaxRuntimeHours_Batch
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Batch = ((TARGET.JobUniverse =?= 7) || (TARGET.InteractiveJob =?= True) || ((MaxRuntimeHours =!= Undefined) && (MaxRuntimeHours > 0) && (MaxRuntimeHours <= 168)))
SUBMIT_REQUIREMENT_DefinedMaxRuntimeHours_Batch_REASON = "MaxRuntimeHours for batch jobs undefined or out of range, must be >0 and <=168 hours, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"

SUBMIT_REQUIREMENT_NAMES = $(SUBMIT_REQUIREMENT_NAMES) ValidOpportunistic
SUBMIT_REQUIREMENT_ValidOpportunistic = ((TARGET.JobUniverse =?= 7) || ((Opportunistic is Undefined) && (StringListMember(Opportunistic,"none,allow,enforce"))))
SUBMIT_REQUIREMENT_ValidOpportunistic_REASON = "You must choose a valid +Opportunistic option using one of the following values: none, allow or enforce, please check the documentation at https://confluence.team.uni-bonn.de/x/qQSl !"
