# WARNING: This file is managed by Puppet
Opportunistic_Requirement="enforce"

# Prepare StringList
Opportunistic_Accepted="none"
Opportunistic_Accepted=ifThenElse(Opportunistic_Requirement == "allow", "allow,none", $(Opportunistic_Accepted))
Opportunistic_Accepted=ifThenElse(Opportunistic_Requirement == "enforce", "enforce,allow", $(Opportunistic_Accepted))

STARTD_ATTRS = $(STARTD_ATTRS), Opportunistic_Requirement, Opportunistic_Accepted
STARTD_JOB_ATTRS = $(STARTD_JOB_ATTRS), Opportunistic

# Modify START expression
START = ($(START)) && (TARGET.Opportunistic =!= Undefined  && StringListMember(TARGET.Opportunistic,Opportunistic_Accepted))

