# WARNING: This file is managed by Puppet
CephFS_IO_Capability="medium"

# Prepare StringList
CephFS_IO_Accepted="none"
CephFS_IO_Accepted=ifThenElse(CephFS_IO_Capability == "low", "low,none", $(CephFS_IO_Accepted))
CephFS_IO_Accepted=ifThenElse(CephFS_IO_Capability == "medium", "medium,low,none", $(CephFS_IO_Accepted))
CephFS_IO_Accepted=ifThenElse(CephFS_IO_Capability == "high", "high,medium,low,none", $(CephFS_IO_Accepted))

STARTD_ATTRS = $(STARTD_ATTRS), CephFS_IO_Capability, CephFS_IO_Accepted
STARTD_JOB_ATTRS = $(STARTD_JOB_ATTRS), CephFS_IO

# Modify START expression
START = ($(START)) && (TARGET.CephFS_IO =!= Undefined  && StringListMember(TARGET.CephFS_IO,CephFS_IO_Accepted))

