# WARNING: This file is managed by Puppet

# Export the corresponding flag from the Job
STARTD_JOB_ATTRS = $(STARTD_JOB_ATTRS), MaxRuntimeHours

# Determine the latest possible end time of the running job per slot, and export that via STARTD and to the parent slot.
LatestJobEndTime = time()+(ifThenElse(isUndefined(MaxRuntimeHours),168,MaxRuntimeHours)*3600-ifThenElse(isUndefined(TotalJobRunTime),0,TotalJobRunTime))
STARTD_ATTRS = $(STARTD_ATTRS), LatestJobEndTime
STARTD_PARTITIONABLE_SLOT_ATTRS = $(STARTD_PARTITIONABLE_SLOT_ATTRS), LatestJobEndTime

# Determine the latest possible end time of all jobs on the machine from the child slots.
#MaxLatestJobEndTime = ifThenElse(isUndefined(Max(My.ChildLatestJobEndTime)), time(), Max(My.ChildLatestJobEndTime))
#STARTD_ATTRS = $(STARTD_ATTRS), MaxLatestJobEndTime

# Determine the maximum acceptable MaxRuntimeHours for pure backfilling operation.
BackfillableMaxRuntimeHours = Max({(MaxLatestJobEndTime-time())/60/60-1, 0})
STARTD_ATTRS = $(STARTD_ATTRS), BackfillableMaxRuntimeHours

# Cron extracting the maximum possible end time (MaxLatestJobEndTime) and other running job and machine information for all slots on the machine.
STARTD_CRON_JOBLIST = $(STARTD_CRON_JOBLIST) WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO
STARTD_CRON_WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO_EXECUTABLE = /usr/local/bin/condor_extract_runningjobs_and_machine_info
STARTD_CRON_WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO_PERIOD = 5m
STARTD_CRON_WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO_MODE = periodic
STARTD_CRON_WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO_RECONFIG = false
STARTD_CRON_WN_EXTRACT_RUNNINGJOBS_AND_MACHINE_INFO_KILL = true

STARTD_ATTRS = $(STARTD_ATTRS), MaxLatestJobEndTime

