# WARNING: This file is managed by Puppet

## Job starts
JOB_START_DELAY = 2
JOB_START_COUNT = 5

## Job stops
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 5

## Job finishes
JOB_IS_FINISHED_INTERVAL = 1
JOB_IS_FINISHED_COUNT = 5

MAX_NUM_SCHEDD_LOG = 3
MAX_NUM_SHADOW_LOG = 3

## Limit uploads & downloads
MAX_CONCURRENT_UPLOADS = 50
MAX_CONCURRENT_DOWNLOADS = 50

## Increase limit on number of processes spawned to handle queries
SCHEDD_QUERY_WORKERS = 8

## Reenable paranoid fsyncs
ENABLE_USERLOG_FSYNC = False

# Throttle DAGMAN submission rate to reduce KDC issues in case condor_submit fails,
# e.g. due to quota exceeded. see PIT-1227
DAGMAN_MAX_SUBMITS_PER_INTERVAL = 50
DAGMAN_USER_LOG_SCAN_INTERVAL = 10
DAGMAN_SUBMIT_DELAY = 1

## Prevent changing protected attributes used for ranking and matching, QUEUE_SUPER_USERS can still qedit them.
## Example usecase would be granting a job more time (below the hard limit).
PROTECTED_JOB_ATTRS = $(PROTECTED_JOB_ATTRS), MaxRuntimeHours, CephFS_IO, ContainerOS, Opportunistic

## Add significant attributes for autoclustering.
ADD_SIGNIFICANT_ATTRIBUTES = $(ADD_SIGNIFICANT_ATTRIBUTES), MaxRuntimeHours, CephFS_IO, ContainerOS, Opportunistic

## Add IO capability of the worker node to job classad, interesting for debugging with job history.
SYSTEM_JOB_MACHINE_ATTRS = $(SYSTEM_JOB_MACHINE_ATTRS), CephFS_IO_Capability
