# Path to the singularity binary.
SINGULARITY = /cvmfs/atlas.cern.ch/repo/containers/sw/singularity/x86_64-el8/current/bin/singularity

# Forces _all_ jobs to run inside singularity.
SINGULARITY_JOB = true

# Forces all jobs to use the given image.
SINGULARITY_IMAGE_EXPR = $(CHOSEN_IMAGE)

# Paths to bind via user bind control.
SINGULARITY_BIND_EXPR = "/pool,/usr/libexec/condor/,/cvmfs,/cephfs"

# Maps $_CONDOR_SCRATCH_DIR on the host to given path inside the image.
SINGULARITY_TARGET_DIR = /jwd
