# HTCondor configuration: resource limits
# This file will be deployed on every scheduler

## Time limits
RemoveDefaultJobWallTime = ( RemoteWallClockTime > 7 * 24 * 60 * 60 )
#RemoveDefaultJobCpuTime  = ( RemoteSysCpu + RemoteUserCpu > 80 * 60 * 60 )

## Memory usage limit
RemoveMemoryUsage = ( ResidentSetSize_RAW > 1024*RequestMemory )

## Held jobs - don't want them to stay in the system forever
RemoveHeldJobs = ( (JobStatus==5 && (CurrentTime - EnteredCurrentStatus) > 24 * 60 * 60) )

## Make sure jobs don't start running too many times
RemoveMultipleRunJobs = ( JobRunCount > 96 )

## Removal of jobs exceeding resource limits
SYSTEM_PERIODIC_REMOVE = $(RemoveDefaultJobWallTime) || \
                         $(RemoveHeldJobs)           || \
                         $(RemoveMemoryUsage)        || \
                         $(RemoveMultipleRunJobs)

#                        $(RemoveDefaultJobCpuTime)

## Put jobs starting too often, and not running, on HOLD
SYSTEM_PERIODIC_HOLD = ( JobRunCount > 10 ) && \
                       (JobStatus!=2)

SYSTEM_PERIODIC_RELEASE = ((time() - EnteredCurrentStatus) > 30 * 60 ) && \
                          (JobStatus==5) && (HoldReasonSubCode != 42)

# The number of seconds after which an aged and queued transfer may be dequeued from
# the transfer queue, as it is presumably hung. Defaults to 7200 seconds, which is
# 120 minutes.
MAX_TRANSFER_QUEUE_AGE = 1800
